/* navbar and carousel */
html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(185,191,207);
    font-family: 'Raleway', sans-serif;
}

html {
    overflow: auto;
}

body {
  position: relative;
}

.anchor {
  padding-top: 50px;
}

#home
h1 {
	color: white;
}

#homerow {
  	margin-top: 40px;
  	margin-bottom: 20px;
}

.carousel {
  	margin-left: -0.938em;
  	margin-right: -0.938em;
}

.carousel-caption {
	font-size: 3em;
  	top: 50%;
  	transform: translateY(-50%);
  	bottom: initial;
  	text-shadow: 0.125em 0.125em 0.25em #000000;
}

.item {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.navbar-header a {
	font-size: 1.5em;
}

a:visited {
  	color: #ff1a75
}

.glyphicon-heart-empty:hover {
  	color: #ff1a75
}


/* end navbar and carousel */
/* start about page */


#about {
    padding-bottom: 20px;
    line-height: 2em;
}

#about-header
h1 {
	text-align: center;
	padding-top: 3em;
  	margin-top: 0;
  	color: white;
  	transform: translateY(-50%);
  	bottom: initial;
  	text-shadow: 0.125em 0.125em 0.25em #000000;
}

#skill-list {
  	padding-top: 1.75em;
  	line-height: 2em;
  	font-size: 1.25em;
}

#about
.col-md-4 {
	padding-top: 3.75em;
}

.main-text {
	padding-top: 3.750em;
	clear: both;
}

#profile
img {
	border-radius: 50%;
	max-width: 75%;
	max-height: 75%;
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
}

.main-text
p {
	font-size: 1.15em;
	padding-bottom: 3.125em;
}

#skill-col
h2 {
	text-align: center;
}

#intro-col
p {
	font-size: 1.15em;
	padding-top: 1.75em;
}

#intro-col
h2 {
  	text-align: center;
}

/* end about page */
/* start work page  */

#work {
    background-image: url("../img/work1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
	text-shadow: 0.125em 0.125em 0.25em #000000;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
.work-header {
	text-align: center;
	text-transform: uppercase;
	padding-top: 3em;
	padding-bottom: 3em;
}
  
.work-pics {
	padding-bottom: 5%;
	padding-top: 10%;
}
  
.work-img {
	display: block; 
	margin: auto; 
	max-width: 200px; 
	max-height: 200px;
	position: relative; 
}
  
.info {
	position: absolute; 
	top: 15%; 
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5em;
	line-height: 1.6;
	display: none;
	font-size: 1.5em;
}

.project-info {
	margin-top: 1.5em;
	line-height: 1.5em;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
	max-width: 100%; 
} 

.cd-demo {
	text-align: center;
	padding-bottom: 10px;
}
    
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 15%; 
	width: 70%; 
	height: 70%; 
}


/* end work page */

/* start contact page */

#contact {
	background-image: url("../img/contact2.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-shadow: 0.125em 0.125em 0.25em #000000;
	padding-top: 4.533em;
	padding-bottom: 5em;
}

#contactinfo {
	margin-top: 8%;
}

.contactcol {
	text-align: center;
	padding-bottom: 2em;
	padding-top: 3em;
}

#contact
h1 {
	position: relative;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#contact
h2, h3 {
	padding-top: 1.25em;
}

.form-control {
	width: 260px;
	max-width: 260px;
	margin-left: 7em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    height: 0;
}

.mapcol h4{
	margin-left: 28%;
	margin-top: 10%;
}

.map-responsive
iframe{
	top:3em;
	margin-left: 25%;
    height:80%;
    width:60%;
    position: absolute;
    max-width: 400px;
    max-height: 450px;
}

/* end contact page */

footer {
	font-size: 1.25em;
}


