body {
    background-color: #b7c2cd;
    font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #fcff42;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header-text {
    text-align: center;
    font-size: 35px;
}

.header-text span {
    color: #fcff42;
}

ul {
    list-style: none;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.leftdiv img {
    border: 2px solid #fcff42;
    border-radius: 50%;
    padding: 5px;
}

.text {
    font-size: 30px;
    padding-top: 50px;
}

.rightdiv span {
    color: #fcff42;
}

.rightdiv a {
    text-decoration: none;
    color: white;
}

.rightdiv li a {
    text-decoration: none;
    color: white;
}

.rightdiv img {
    border: 2px solid #fcff42;
    border-radius: 50%;
    padding: 5px;
    max-height: 300px
}

footer p {
    float: left;
    color: #fcff42;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

